@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?k0lejt');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?k0lejt#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?k0lejt') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?k0lejt') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?k0lejt##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil {
  &:before {
    content: $icon-pencil; 
  }
}
.icon-floppy-disk {
  &:before {
    content: $icon-floppy-disk; 
  }
}
.icon-bin2 {
  &:before {
    content: $icon-bin2; 
  }
}
.icon-cross {
  &:before {
    content: $icon-cross; 
  }
}

.icon {
  color: #b2b2b2;
  &-edit:hover {
    color: #3498db;
  }
  &-delete:hover {
    color: #c0392b;
  }
  &-save:hover {
    color: #8e44ad;
  }
  &-cancel:hover {
    color: #555555;
  }
}
