@import "variables";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?xrtkvk");
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?xrtkvk#iefix")
      format("embedded-opentype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?xrtkvk")
      format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?xrtkvk")
      format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?xrtkvk##{$icomoon-font-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon.icon {
  color: #b2b2b2;
  &-pencil {
    &:before {
      content: $icon-pencil;
    }
    &:hover {
      color: #3498db;
    }
  }
  &-folder-download {
    &:before {
      content: $icon-folder-download;
    }
    &:hover {
      color: #8e44ad;
    }
  }
  &-bin {
    &:before {
      content: $icon-bin;
    }
    &:hover {
      color: #c0392b;
    }
  }
  &-exit {
    &:before {
      content: $icon-exit;
    }
    &:hover {
      color: #555555;
    }
  }
}
.dx-treelist-addrow-button .dx-icon-edit-button-addrow {
  color: #2ecc71;
}
